.volume{
  width:100%;
  background:rgb(238, 238, 238);
}
.car-card-header{
  width:100%;
  background:rgb(0, 174, 255);
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.car-card-header div{
  width:33%;
  height:40px;
  font-size:1.4rem;
  font-weight: bold;
  text-align: center;
}
.car-card-header div span{
  line-height:40px;
  text-align: center;
  color:white;
}
.car-card{
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items:center;
  border:1px solid rgb(211, 211, 211);
  margin-top:0.5rem;
}
.car-card div{
  width:33%;
  height:40px;
  font-size:1.4rem;
  font-weight: bold;
  text-align: center;
}
.car-card div span{
  line-height:40px;

}